<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <% categories.each do |cat| %>
        <ul class="nav navbar-nav side-nav">
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#<%= cat.name %>"><%= cat.name %>
              <i class="fa fa-plus"></i>
            </a>
            <ul id="<%= cat.name %>" class="collapse collapseItem">
              <% cat.root.leaves.each do |leaf| %>
                <li>
                  <%= link_to potepan_category_path(leaf.id) do %>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <%= leaf.name %>
                    <span>(<%=leaf.products.count %>)</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
