<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled" id="filter_by_color">
      <% @colors.each do |color| %>
        <li>
          <%= link_to (potepan_category_path(id: taxon.id, color: color.name)) do %>
            <%= color.name %><span>(<%= count_number_of_products_by_option(color) %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
