<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= @taxon.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to("Home", potepan_index_url ) %>
          </li>
          <li>
            <a href="#">shop</a>
          </li>
          <li class="active">
            <%= @taxon.name %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories',categories: @categories %>
        <%= render 'filter_by_color', colors: @colors, taxon: @taxon %>
        <%= render 'filter_by_size', sizes: @size, taxon: @taxon %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render "filter_by_sort" %>
          <%= render "filter_by_grid_or_list" %>
        </div>
        <%= render 'products', products: @products %>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render 'light_section_brands' %>
