<div class="row featuredProducts">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>新着商品</h4>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="owl-carousel featuredProductsSlider">
      <% @new_products.each do |product| %>
        <div class="slide">
          <%= link_to potepan_product_path(product.id) do %>
            <div class="productImage clearfix">
              <%= image_tag(product.display_image.attachment(:large), :alt => "products-image") %>
            </div>
            <div class="productCaption clearfix">
              <h5><%= product.name %></h5>
              <h3><%= product.display_price %></h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
