<div class="header clearfix">
  <!-- TOPBAR -->
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12">
          <ul class="list-inline pull-right">
            <li class="dropdown searchBox">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <%= form_with url: potepan_products_search_path, id: "form01", method: :get, local: true do |form| %>
                    <span class="input-group">
                      <%= form.text_field "searchWord",id: "searchWord", class: "form-control", placeholder: "Search…", 'aria-describedby': "basic-addon2" %>
                      <button><span class="input-group-addon" id="basic-addon2">検索</span></button>
                    <% end %>
                    </span>
                  </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/potepan/cart" class="dropdown-toggle" data-toggle="dropdown disabled"><i class="fa fa-shopping-cart"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-main navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/potepan/index"><%= image_tag("img/logo.png", :alt => "") %></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Home', potepan_path %></li>
          <li class="dropdown megaDropMenu active">
            <a href="/potepan/categories/1" class="dropdown-toggle">Shop</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
